{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}

	{% for article in articles %}
		<div class="ui items">
			<div class="item">
				<div class="image">
					<img src="https://semantic-ui.com/images/wireframe/image.png">
				</div>
				<div class="content">
					<a href="/blog/{{ article.slug }}" class="header">{{ article.title }}</a>
					<div class="meta">
						<span>{{ article.content }}</span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						{{ article.createdAt|date }}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
